<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>簡易掲示板</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <main class="container">

        {% comment %}
        {# ここが投稿用フォーム #}
        <form method="POST">
            {% csrf_token %}
            <textarea class="form-control" name="comment"></textarea>
            <input type="submit" value="送信">
        </form>

        {# ここが投稿されたデータの表示領域 #}
        {% for topic in topics %}
        <div class="border">
            {{ topic.comment }}
        </div>
        {% endfor %}
        {% endcomment %}


        {# ===========ライブ配信================= #}

    
        <form action="{% url 'bbs:video_control' %}" method="post">
            {% csrf_token %}

            {% if is_active %}
            <input type="submit" value="OFFにする">
            {% else %}
            <input type="submit" value="ONにする">
            {% endif %}
        </form>


        {% if is_active %}
        <img src="{% url 'bbs:stream' %}">
        {% endif %}



    </main>
</body>
</html>
